.container {
	background-color: white;
}

.logo {
	margin-top: 30px;
	margin-bottom: 30px;

	text-align: center;
	font-family: "Helvetica Neue";
	font-size: 4em;
	font-weight: 100;
	color: brown;
}

.desc {
	margin-top: 40px;
	margin-bottom: 40px;
	position: relative;
	margin-left: 8%;
	margin-right: 8%;
	text-align: center;
	font-family: "Helvetica Neue";
	font-size: 2em;
	font-weight: 100;
}

.actioncontainer {
	background-color: #DDD;
}

.upload {
	text-align: center;
}

.go {
	margin-top: 5px;
	margin-bottom: 25px;

	text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    font-weight: 200;
    font-family: "Helvetica Neue";
    background-color: #fff;
    color: #444;

    border: 3px solid;
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.go:hover {
    color: brown;
}

a, visited {
    text-decoration: none;
}

.tri {
	float: left;
	width: 33.3333333333%;
	text-align: center;
	margin-bottom: 50px;
}

.tricontainer {
}

.uploadicon {
	width: 200px;
}

.bikeicon {
    width: 170px;
}

.coffeeicon {
    width: 140px;
}

.mapicon {
    width: 160px;
}
