<html>
	<head>
		<title>Coffeestop</title>
		<link href="../css/style.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div class="container">
			<div class="logo">Coffeestop</div>
			<div class="upload"></div>
			<div class="go">GO</div>
			<div class="tricontainer">
				<div class="tri">
					<img src="../images/bike.png" class="bikeicon">
				</div>
				<div class="tri">
					<img src="../images/map.png" class="mapicon">
				</div>
				<div class="tri">
					<img src="../images/coffee.png" class="coffeeicon">
				</div>
			</div>
		</div>
	</body>

</html>