<!doctype html>
<html lang="en">
	<head>
		<title>Coffeestop</title>
		<link href="../css/style.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div class="container">
			<div class="logo">Coffeestop</div>
			<div class="actioncontainer">
				<div class="upload">
					<img src="../images/upload.png" class="uploadicon">
				</div>
				<div class="go">GO</div>
				<br>
			</div>
			<div class="desc">
				Just upload your bike route, choose a restaurant, and pick up your food when you get there!
			</div>
			<div class="tricontainer">
				<div class="tri">
					<img src="../images/bike.png" class="bikeicon">
				</div>
				<div class="tri">
					<img src="../images/map.png" class="mapicon">
				</div>
				<div class="tri">
					<img src="../images/coffee.png" class="coffeeicon">
					<!--credit thenounproject.com-->
				</div>
			</div>
			
		</div>
	</body>

</html>