<html>
    <head>
        <title>MapView</title>
        <link href="../css/mapviewstyle.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script type="text/javascript" src="../js/mapview.js"></script>
    </head>
    <body>
        <div class="nav">
            <div class="navheader">Restaurants</div>
            <div class="navcontents">
                Stuff
            </div>
            <div class="navtotalcost">
                Total Cost:
            </div>
            <div class="tobottom">Done!</div>
        </div>

        <div class = "section">
            MAP GOES HERE
            <div id="map">
            </div>
        </div>
        
   </body>
</html>
