{% extends 'base.html' %}
{% block head %}
	<link href="static/css/mapviewstyle.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<div class="section">
	MAP GOES HERE
	<div id="map">
	</div>
</div>

<div class="nav">
	<div class="navheader">Places to stop</div>
	<div class="navcontents"><dl>{% for place in yelp %}
		<a class="restaurant">
		<dt><strong>{{ place['name'] }}</strong></dt>
			{% for address in place['location']['display_address'] %}
			<dd>{{ address }}</dd>
			{% endfor %}
		</a>
	{% endfor %}</dl></div>
	<div class = "tobottom">
		<div class="yelpplug">
			<img src="../static/images/yelp.gif" class="yelp">
		</div>
		<div class="donebutton">Done!</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.17"></script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">{{mapview|safe}}</script>
{% endblock %}
