<html>
    <head>
        <title>RestaurantView</title>
        <link href="../css/mapviewstyle.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="nav">
            <div class="navheader">Your Order</div>
            <div class="navcontents">
                Stuff
            </div>
            <div class = "tobottom">
                <div class="navtotalcost">
                    Total Cost:
                </div>
                <div class="donebutton">Done!</div>
            </div>
        </div>

        <div class = "section">
            MENU GOES HERE
        </div>
        
   </body>
</html>
